.techs {
    background-color: #272727;
    padding-top: 100px;
    height: 525px;
    width: 100%;
}

.techs__heading {
    margin: 0 70px 0;
    color: white;
    font-size: 22px;
    letter-spacing: -0.04em;
    border-bottom: solid 1px #DADADA;
    font-weight: 400;
    padding-bottom: 23px;
}

.techs__technologies {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: center;
    margin: 93px 0 0 0;
    color: #ffffff;
}

.techs__about {
    text-align: center;
    margin: 25px auto 0;
    max-width: 460px;
    width: 50%;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.04em;
    color: #ffffff;
}

.techs__list {
    display: grid;
    grid-template-columns: repeat(7, 90px);
    grid-template-rows: 60px;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
    padding: 0;
}

.techs__tech {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #303030;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.04em;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .techs {
        padding-top: 91px;
        height: 475px;
    }

    .techs__heading {
        margin: 0 50px;
    }

    .techs__technologies {
        margin-top: 80px;
    }

    .techs__about {
        font-size: 12px;
        line-height: 18px;
        width: 60%;
        margin-top: 24px;
    }

    .techs__list {
        margin: 80px 50px 0;
        grid-template-columns: repeat(7, 84px);
    }

    .techs__tech {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
}
@media  screen and (max-width: 680px) {
    .techs__list {
        grid-template-columns: repeat(4, 84px);
        grid-template-rows: repeat(4, 57px);
    }

}
@media screen and (max-width: 320px) {
    .techs {
        padding-top: 72px;
        height: 475px;
        height: 651px;
        background-color: #202020;
    }

    .techs__heading {
        margin: 55px 19px 0px;
        padding-bottom: 28px;
        font-size: 18px;
        line-height: 22px;
        border-bottom: solid 1px #000;
    }

    .techs__technologies {
        margin-top: 60px;
        font-size: 30px;
        line-height: 36px;
    }

    .techs__about {
        font-size: 11px;
        line-height: 16px;
        width: 85%;
        margin-top: 24px;
    }

    .techs__list {
        margin: 50px 50px 0;
        grid-template-columns: repeat(2, 84px);
        grid-template-rows: repeat(4, 57px);
    }

    .techs__tech {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
}